<!DOCTYPE html>
{% load i18n %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <style type="text/css">
        .error {
            font-family: "Open Sans", sans-serif;
            font-size:1.8em;
            padding-top:2em;
            text-align: center;
            line-height:2em;
            color:#333;
        }
        .error-message-error {
            color: #666;
            font-size:0.8em;
            font-weight:300;
        }
        img {
            border-radius:3px;
            width:300px;
        }
        a {
            color:#666;
        }
    </style>
    <title>
        {% block error_message %}
            
        {% endblock error_message %}
    </title>
</head>
<body class="error-page">
    <div class="error">
        <div class="error-brand">
            <a class="error-brand-a" href="/">QuarkBlob.com</a>
        </div>
        <div class="error-message">
            {% block error_title %}
                
            {% endblock error_title %}
        </div>
    </div>
</body>
</html>