{% extends "base/base.html" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block h1 %}
    <h1>{{ title }}</h1>
{% endblock h1 %}
{% block content %}
    <div class="profile">
        <div class="profile-field">
            账号:<span class="profile-username"><strong>  {{ request.user }}</strong></span>
        </div>
        {% if request.user.profile.display_name %}
            <div class="profile-field">
                昵称: <span class="profile-email"><strong>  {{ request.user.profile.display_name }}</strong></span>
            </div>
        {% endif %}
        <div class="profile-field">
            邮箱: <span class="profile-email"><strong> {{ request.user.email }}</strong></span>
        </div>

        <div class="profile-field">
            <a class="profile-edit submit" href="{% url 'user_change' request.user.pk %}">编辑</a>
            <a class="profile-change-password submit" href="{% url 'password_change' %}">修改密码</a>
            <a class="profile-logout submit" href="{% url 'logout' %}">登出</a>
        </div>
    </div>
{% endblock content %}