{% extends "base/base.html" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block h1 %}
    <h1>{{ title }}</h1>
{% endblock h1 %}
{% block content %}
    <div class="post">
        <span class="post-author">By <strong>admin</strong></span>
        <span class="post-date">{{ item.post_date|date:"M d, Y"}}</span>
        <div class="post-description clearfix">
            {{ item.description }}
            {% if item.image %}
                <img class="post-image" src="{{ item.image.url }}">
            {% endif %}
            <div class="post-body">
                {{ item.body }}
            </div>
        </div>
    </div>
{% endblock content %}